.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

li span
{
  line-height: 50px;
  font-weight:800;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app-screen
{

  overflow-y: scroll;
  padding:23px;
  height: 100vh;

}
.app-screen::-webkit-scrollbar {
  width: 6px;

}

.app-screen::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.app-screen::-webkit-scrollbar-thumb {
background-color: #337ab7;
outline: 1px solid slategrey;
border-radius:4px;
}
.app-content
{
  padding:20px;
  margin-top: 10%;
}
.social_Buttons .btn:last-child>span
{
  margin-left:10px;
}
.form-control
{
  border-radius: 0px;
  border: 1px solid #eeee;
  box-shadow:none;
  height:45px;
}
.dish-description ul li
{
  list-style: none;
}

.padding0
{
  padding:0px;
}
.name-content
{
  font-weight:800;
  margin:15px auto;
}
@media screen and (max-width:768px) {
  .app-screen
  {
    overflow-x: auto;
    overflow-y: auto;
    padding:40px;
  }
}
@media screen and (max-width:768px) and (max-width:1336px) {
  .app-screen
  {
    padding:23px;
  }
}
.about-profile-img img
{
  height:100px;
}
.about-profile-img
{
    text-align:center;
    margin-top: -50px;
}
.about-img .about-profile
{
  width: 100%;
  height: 190px;
}
.veg-icon
{
position: absolute;
top: 20px;
left: 35px;
}
.name-heading
{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.small-heading
{
   font-weight: bold;
   margin: 5px 0px 16px;
}
.small-paragraph
{
    color: rgba(0, 0, 0, 0.44);
}
.about-profile-comments
{
  margin-top:30px;
}
.about-profile-comments .small-heading
{
  padding:10px;
  background-color:#eee;
}
.about-comment .media-heading
{
  font-size: 14px;
    font-weight: bold;
}
