/*import 'css/editprofile.scss';*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #000;
}*/
.App-intro {
  font-size: large;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
/*.edit-profile{
  margin-top: 20px;
}*/
.profile{
  text-align: left;
}
.form-group{
  margin-bottom: 12px;
}
.form-horizontal .control-label{
  text-align: left;
  margin-bottom: 10px;
}
.form-horizontal .checkbox, .form-horizontal .radio{
  display: inline-block;
    padding-left: 15px;
}
.btn-default{
  background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
    padding: 6px 60px;
    float: left
}
.btn-default:hover{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.btn-default:focus{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.btn-default:active{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.banner-img{
  position: fixed;
}
.banner-img img{
  /*width:710px;
  height:600px;*/
}
.chef-menu{
  margin-bottom: 100px;
}
.nav-pills>li>a{
  color:#000;
}
.nav{
  display:inline-flex;
  float: left;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  border:none;
  border-bottom: 2px solid #50e3c2;
  color:#000;
  background-color: transparent;
  font-weight: bold;
}
.nav-pills {
    border: none;
}
.content-holder{
  margin-top: 15px;
    text-align: left;
}
.menu-holder p{
  color:#000;
  font-weight:bold;
  border-bottom:1px solid  #cdcdcd;
  padding-bottom: 12px;
}
.pad-0{
  padding-left: 0;
  padding-right: 0;
}
.menu-holder ul{
  padding-left: 0;
}
.menu-holder ul li{
  list-style: none;
  padding-bottom: 15px;
  color: #867f7f;
}
.menu-holder ul li:last-child{
  border-bottom: 1px solid #cdcdcd;
}
.order p{
  border:none;
  font-weight: normal;
  padding:0;
}
.order h6{
  font-weight: bold;
  font-size: 20px;
}
.profile-img{
  display: inline-block;
  vertical-align: top;
}
.profile-img img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
}
.chat-description{
  display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.chat-description h5{
  margin-bottom: 4px;
}
.chat-menu{
  border-bottom: 1px solid #cdcdcd;
padding: 15px 0 15px 0;
}
.contact-list h4{
  background-color: #f5f5f5;
    padding: 8px;
}
.contact-names img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
}
.contact-names p{
  display: inline-block;
  margin-left: 15px;
}
.add-menu h2{
  text-align: left;
}
.edit-holder{
  margin-bottom: 14px;
  position: relative;
}
.edit-holder img{
  width: 30px;
      position: absolute;
      top: 50%;
      right: 22px;
      border-left: 1px solid #ccc;
      padding-left: 10px;
      transform: translateY(-50%);
}
.quantity-holder{
  margin-bottom: 12px;
}
.quantity-holder span{
  float:right;
  margin-right: 16px;
}
.menu-holder{
  display: inline;
  text-align: left;
float: left;
margin-bottom: 16px;
}
.quantity{
  width: 15% !important;
}
.menu-holder input{
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}
/*.menu-holder:last-child(5){
  width: 15%;
}*/
.rs-holder{
  position: relative;
    display: inline;
}
.rs-holder img{
  width: 25px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}
.rs-holder input{
    text-align: right;
    width: 27%;
    display: inline;
}
.add-item{
  text-align: left;
  margin-bottom: 16px;
}
.add-item img{
  margin-right: 14px;
}
.add-photos{
  text-align: left;
  margin-bottom: 16px;
}
.place-order{
  text-align: left;
  margin-bottom: 16px;
}
.place-order input{
  width:20%;
}
.deliver-time{
  text-align: left;
  margin-bottom: 30px;
}
.deliver-time input{
  width:25%;
  display: inline-block;
  margin-right: 16px;
}
.add-form{
  padding:20px;
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ee8311;
}
.review-description{
  /*display: inline-block;
    vertical-align: middle;*/
    margin-left: 14px;
}
.review-description h5{
  font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
}
.review-description p{
  margin-bottom: 4px;
}
.facebook-icons ul{
  padding-left: 0;
  margin-bottom: 16px;
}
.facebook-icons ul li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
}
.facebook-icons ul li span{
    width: 10px;
      height: 10px;
      background-color: #ccc;
      display: inline-block;
      border-radius: 50%;
      margin-left: 10px;
}
.facebook-icons ul li img{
  background-color: #6f85ff;
    padding: 6px;
    border-radius: 50%;
}
.review-content{
  display: inline-flex;
  vertical-align: -webkit-baseline-middle;
}
.replies p{
  font-weight: bold;
  margin-bottom: 12px;
}
.review-description h5 span{
  font-weight: normal;
  margin-left: 6px;
}
.user{
  padding:20px 0 40px 0;
  text-align: left;
}
.user img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 16px;
}
.user p{
  display:inline-block;
  font-weight: bold;
}
.call-icon{
  float: right;
    margin-top: 20px;
}
.call-icon img{
  width: 20px;
    height: 20px;
}

.chat-descri  {
  text-align: left;
}
.chat-descri p{
  background-color: rgba(204, 204, 204, 0.47);
  padding: 10px;
  display: block;
  width:50%;
}
.chat-descri img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 16px;
}
.chat-user{
  display: inline-flex;
}
/*.chat-descri span{

}*/
