/*import 'css/editprofile.scss';*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: #000;
}
.App-intro {
  font-size: large;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
.edit-profile{
  margin-top: 20px;
}
.profile{
  text-align: left;
}
.form-group{
  margin-bottom: 12px;
}
.form-horizontal .control-label{
  text-align: left;
  margin-bottom: 10px;
}
.form-horizontal .checkbox, .form-horizontal .radio{
  display: inline-block;
    padding-left: 15px;
}
.btn-default{
  background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.btn-default:hover{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.btn-default:focus{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.btn-default:active{
    background-color: #50e3c2;
    border-color: #50e3c2;
    color:#fff;
}
.banner-img img{
  width:700px;
  height:600px;
}
.chef-menu{
  margin-bottom: 100px;
}
.nav-pills>li>a{
  color:#000;
}
.nav{
  display:inline-flex;
  float: left;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  border:none;
  border-bottom: 2px solid #50e3c2;
  color:#000;
  background-color: transparent;
  font-weight: bold;
}
.nav-pills {
    border: none;
}
.content-holder{
  margin-top: 15px;
    text-align: left;
}
.menu-holder p{
  color:#000;
  font-weight:bold;
  border-bottom:1px solid  #cdcdcd;
  padding-bottom: 12px;
}
.pad-0{
  padding-left: 0;
  padding-right: 0;
}
.menu-holder ul{
  padding-left: 0;
}
.menu-holder ul li{
  list-style: none;
  padding-bottom: 15px;
  color: #867f7f;
}
.menu-holder ul li:last-child{
  border-bottom: 1px solid #cdcdcd;
}
.order p{
  border:none;
  font-weight: normal;
  padding:0;
}
.order h6{
  font-weight: bold;
  font-size: 20px;
}
.profile-img{
  display: inline-block;
}
.profile-img img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
}
.chat-description{
  display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.chat-description h5{
  margin-bottom: 4px;
}
.chat-menu{
  border-bottom: 1px solid #cdcdcd;
padding-bottom: 15px;
}
.contact-list h4{
  background-color: #f5f5f5;
    padding: 8px;
}
.contact-names img{
  border-radius: 50%;
    height: 60px;
    width: 60px;
}
.contact-names p{
  display: inline-block;
  margin-left: 15px;
}
