body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.knoitApp{
  overflow: hidden;
}
.row{
  margin: 0;
}
.head{
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 20px 0px;
}
.head h2{
  margin: 0;
}
.leftApp{
  max-height: 100vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #3c7282;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: #3c7282;
}
.leftApp ul{
  padding: 0px 20px;
}
.leftApp ul li{
  list-style: none;
  display: inline-block;
}
.leftApp ul .back img{
  width: 50%;
}
.leftApp ul .backIcon img{
  width: 50%;
  margin-bottom: 10px;
}
.leftApp ul li h3{
  margin-left: 40px;
}
.leftApp ul .pastBills h3{
  margin-left: 0;
}
.icon img{
  border-radius: 50%;
}
.rightApp img{
  width: 60%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 41.6%;
  right: 0;
}
.pad0{
  padding: 0px;
}
.details{
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.details h4{
  margin: 0px;
}
.details h3{
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.details p{
  font-size: 12px;
  color: #bfbfba;
  margin: 0px;
}
.total{
  padding: 20px;
}
.total p{
  margin: 5px 0px;
  font-size: 12px;
  float: left;
}
.total h3{
  float: left;
  margin: 0px;
  padding-left: 10px;
}
.input input{
  width: 41.7%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
}
.input input:focus{
  border-color:  #e6e6e6
}
.nav>li>a{
  padding: 10px 67px;
}

.nav-tabs>li.active>a {
  border-bottom: 4px solid #ddd !important;
  border-bottom-color: #6f85ff !important;
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
.details .tabImg{
  float: left;
  width: 50px;
  height: 50px;
}
.details .tabImg img{
  border-radius: 50%;
}
.details .tabContent{
  padding: 15px 23px 0px;
  float: left;
}
.foodIcon{
  margin-top: 12px;
  text-align: center;
}
.foodIcon img{
  padding: 2px;
}
.foodIconContent{
  text-align: center;
}
.billContent{
  background-color: #efefef;
  padding: 20px;
}
.billUnpaid{
  text-align: center;
  margin-left: 36px;
}
.billUnpaid .btn-primary{
  background-color: #f5a623;
  border-color: #f7c26b;

}
.billUnpaid .btn-primary a{
  color: #fff;
  text-decoration: none;
}
.tabContent p span{
  color: #e16473;
}
.paymentAmount{
  background-color: #4a90e2;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 41.6%;
}
.paymentAmount .paymentDetails h5{
  float: left;
  margin: 0;
  color: #fff;
  padding: 5px;
}
.paymentDetails{
    margin-top: 4px;
}
.paymentAmount .paymentDetails h3{
  float: left;
  margin: 0;
  color: #fff;
}
.paymentAmount .paidBill .btn-primary{
  color: #337ab7;
  background-color: #fff;
  border-color: #fff;
}
.details .kitchenAmt span{
  color: #4cdc59;
}
